#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(/src/orange01.jpeg);
}

.App {
  text-align: center;
}

.open-modal {
  position: absolute;
  top: 20px;
}
